<img src ="{{ person.image }}" />
<h3>What is your name</h3>
<p>{{ person.name }}</p>

<h3>If you could be any type of dog, what breed would you be and why?</h3>
<p>{{ person.question1 }}</p>

<h3>If you could trade places with anyone for a week, who would it be?</h3>
<p>{{ person.question2 }}</p>

<h3>What is the best concert you’ve ever been to?</h3>
<p>{{ person.question3 }}</p>

<h3>What is at the top five of your bucket list?</h3>
<p>{{ person.question4 }}</p>